# Ignorar todo por defecto
*

# Permitir carpetas del curso
!Actividad1/
!Actividad1/**
!Actividad2/
!Actividad2/**
!Actividad3/
!Actividad3/**
!Proyecto_Final/
!Proyecto_Final/**
!Control2/
!Control2/**

# Ignorar carpetas internas específicas del proyecto
Proyecto_Final/assets/
Proyecto_Final/referencias/
Proyecto_Final/datasets/
Proyecto_Final/__pycache__/

# Ignorar PDFs
*.pdf

# Ignorar csvs
*.csv

# Ignorar docs
*.docx

#Ignorar pptx
*.pptx
# Jupyter
.ipynb_checkpoints/

__pycache__/
*.py[cod]

# LaTeX temporales
*.aux
*.log
*.out
*.toc
*.fls
*.fdb_latexmk
*.synctex.gz

# Permitir gitignore
!.gitignore
